.banner{
    width: 100%;
    max-width: 100%;
}
.banner img {
    width: 100%;
    height: auto;
    display: block;
}
.navbar {
    background-color: #ff0080;
    padding: 12px;
    display: flex;
    gap: 20px;
}
.navbar a {
    color: #ffffff;
    text-decoration: none;
}
.navbar a:hover {
    color: #f50000;
}
img{
    width: 1000px;
}
body{
  font-size: 15px;
  background-color: #e7cd9d;
}